@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors

// Import
@import "./menu";
@import "./footer";

// div {
//   border: 1px solid #f6fa2b;
// }

div.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

div.homepage {
  vertical-align: middle;
}
