@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors

// Import
// @import "./login";
@import "./menu";
@import "./user";
@import "./footer";

div {
  // border: 1px solid #f6fa2b;
  border: none;
}

div.wrapper {
  max-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

div.homepage {
  // border: 1px solid #f6fa2b;
  max-width: 90vw;
  margin: 1em auto;
  // display: flex;
  align-items: center;
  vertical-align: middle;
}

section.partner-wrapper {
  // min-height: calc(100vh - 110.891px);
  min-height: 100vh;
  width: 90vw;
  margin: 5em 5em;
  display: block;
  align-items: baseline;
}

.slideshow__container {
  display: block;
  // height: 300px;
  // width: 500px;
}

.home-slider {
  .card {
    border: none;
    padding: 0 5px;
  }
}

.add_product_input {
  width: 0.1px !important;
  height: 0.1px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  z-index: -1 !important;
}

.add_product_thumbnail {
  height: 6rem;
  width: 6rem;
  margin: 0 6px;
  border: dashed 1px grey;
  border-radius: 10px;
  background-color: transparent;
  color: grey;

  > .plus_icon {
    margin: auto;
    line-height: 0;
  }

  &:hover {
    color: black !important;
    border: dashed 1px #212121;
    box-shadow: 0 0 5px grey;
  }
}

.add_product_card {
  width: 25%;
  margin: 0 2px;
  font-size: 0.75rem;
}

.remove_icon {
  width: 75px;
  display: none;
  text-align: center;
  margin: 0;
  font-size: 0.75rem;
  z-index: -4;
}

.add_product_preview {
  display: flex;
  height: 120px;
  width: 120px;
  padding: 0;
  margin: 0;
  justify-items: center;
  // border: dashed 1px grey;
  border-radius: 5px;
  background-color: transparent;
  color: grey;

  > .plus_icon {
    margin: auto;
    line-height: 0;
  }

  > img {
    height: 100%;
  }

  &:hover {
    color: #313131 !important;
    // border: dashed 1px #414141;
    box-shadow: 0.5px 0.5px 3px #919090;
    cursor: pointer;

    + .remove_icon {
      display: block;
    }
  }
}

.add_product_icon {
  display: flex;
  height: 120px;
  width: 120px;
  padding: 0;
  margin: 0;
  justify-items: center;
  border: dashed 1px grey;
  border-radius: 5px;
  background-color: transparent;
  color: grey;

  > .plus_icon {
    margin: auto;
    line-height: 0;
  }

  &:hover {
    color: #313131 !important;
    border: dashed 1px #414141;
    box-shadow: 0.5px 0.5px 3px #919090;
    cursor: pointer;
  }
}
